<!-- component.property.input.Slider -->
<div class="ui basic segment input-slider" id="{{id}}">
    <div class="ui header">
        {{title}}
    </div>
    <div class="input-slider">
        <input class="slider" id="{{sliderId}}" max="{{max}}" min="{{min}}" type="range" value="{{value}}">
        <input class="input" id="{{inputId}}">
    </div>
</div>
