<!-- app.sim.timeline.Detail -->

<div class="event-detail">
    <div class="title">
        <h3>{{ name }}</h3>
    </div>
    <div class="image">
        <!-- <img class="ui medium left floated image transition visible" src=""> -->
        <img class="ui medium left floated image transition visible" src="{{image}}">
    </div>
    <div class="desc">
        <p>{{ description }}{{ content }}</p>
    </div>
</div>

<!-- <div class="ui grid">
    <div class="eight wide column">
        <h3>{{ name }}</h3>
        <p>{{ description }}{{ content }}</p>
    </div>
    <div class="eight wide column">
        <img class="ui medium left floated image transition visible" src="">
    </div>
</div> -->
