<!-- sim.greenhouse.property.Label -->
<div class="ui basic segment property-label" id="{{id}}">
    <div>
        <label id="{{titleId}}">{{{title}}}</label>
    </div>
    <div class="property-label">
        <label id="{{valueId}}">{{value}}</label>
    </div>
</div>
