<!-- component.property.dropdown.Slider -->
<div class="ui basic segment dropdown-slider" id="{{id}}">
    <div class="ui header">
        {{title}}
    </div>
    <div class="dropdown-slider">
        <input class="slider" id="{{sliderId}}" max="{{max}}" min="{{min}}" step="1" type="range">
        <input class="input" id="{{inputId}}">
    </div>
</div>
