<!-- sim.atmos.quiz.input.Slider -->
<div id="{{id}}">
    <label id="{{id}}-label">{{{title}}}</label>
    <input id="{{id}}-slider" max="{{max}}" min="{{min}}" step="{{step}}" type="range" value="{{value}}">
</div>
