<!-- sim.atmos.quiz.input.Switch -->
<div class="ui basic segment switch" id="{{id}}">
    <div class="ui buttons">
        <div class="ui button" id="{{id}}-one">{{optionOne}}</div>
        <div class="ui button" id="{{id}}-two">{{optionTwo}}</div>
    </div>
</div>
